#battleship {
//-fx-background-color:#ff6600;
}

.newGameButton {
    -fx-color:#44afac;
    -fx-text-fill: black;
}

.newGameButton:hover {
    -fx-color:#89f9f6;
    -fx-text-fill:black;
    -fx-font-weight: bold;
}
.newGameButton:pressed {
    -fx-color:#89f9f6;
    -fx-text-fill:black;
    -fx-font-weight: bold
}

.loadGameButton {
    -fx-color:#61adad4;
}

.loadGameButton:hover {
    -fx-color:#76B5F5;
    -fx-text-fill:black;
}
.loadGameButton:pressed {
    -fx-color:#0A6ED1;
}

.saveGameButton {
    -fx-color:#7fa5a4;
    -fx-text-fill:black;
}

.saveGameButton:hover {
    -fx-color:#41FF00;
    -fx-text-fill:black;
}
.saveGameButton:pressed {
    -fx-color:#098A09;
    -fx-text-fill:black;
}


.gridpane {
    -fx-background-color:#CFF6F4;
    -fx-border-color:#0014ED;
}
.battleship{
    -fx-background-image: url("abgenutzte-holzplanken-textur-001.jpg");
}