
#battleship {
    //-fx-background-color:#ff6600;
}

.newGameButton {
    -fx-color: #4bcad8;
    -fx-border-color: #4bcad8;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.newGameButton:hover {
    -fx-color: #348e99;
    -fx-border-color: #348e99;
    -fx-text-fill:white;
}
.newGameButton:pressed {
    -fx-color: #348e99;
    -fx-border-color: #348e99;
    -fx-text-fill:white;
}

.loadGameButton {
    -fx-color: #4bcad8;
    -fx-border-color: #4bcad8;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.loadGameButton:hover {
    -fx-color: #348e99;
    -fx-border-color: #348e99;
    -fx-text-fill:white;
}
.loadGameButton:pressed {
    -fx-color: #348e99;
    -fx-border-color: #348e99;
    -fx-text-fill:white;
}

.saveGameButton {
    -fx-color: #4bcad8;
    -fx-border-color: #4bcad8;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.saveGameButton:hover {
    -fx-color: #348e99;
    -fx-border-color: #348e99;
    -fx-text-fill:white;
}
.saveGameButton:pressed {
    -fx-color: #348e99;
    -fx-border-color: #348e99;
    -fx-text-fill:white;
}

.gridpane {
    -fx-background-image: url("BattleShipGameRahmen.jpg");
    -fx-background-repeat: no-repeat;
}

.gridpane .background-image {
    -fx-width: 600px;
    -fx-height: 600px;
}

.battleship {
    -fx-background-image: url("479066843.jpg");
}

.textField .content{
    -fx-background-color: #c0c0c0;
}