
#battleShip {
    //-fx-background-color:#ffffff;
}

.newGameButton {
    -fx-color: #3e4145;
    -fx-border-color: #3e4142;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.loadGameButton {
    -fx-color: #3e4145;
    -fx-border-color: #3e4142;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.saveGameButton {
    -fx-color: #3e4145;
    -fx-border-color: #3e4142;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.gridPane {
    -fx-background-image: url("Schlachtschiff.jpg");
    -fx-background-repeat: no-repeat;
    -fx-text-fill: black;
}

.battleShip {
    -fx-background-image: url("wasser.jpg");
    -fx-background-repeat: no-repeat;
    -fx-text-fill: black;
}

.battleShipText {
    -fx-text-fill: white;
}

.textField .content{
    -fx-background-color: #CED8F6;
}